# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual Environment
# ==============================

venv/
env/
.venv/

# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/

# ==============================
# Dataset Files
# ==============================

*.csv
*.xlsx
*.xls

# ==============================
# Trained Model Files
# ==============================

*.sav
*.pkl
*.joblib

# ==============================
# Environment Variables
# ==============================

.env
.env.*

# ==============================
# VS Code
# ==============================

.vscode/

# ==============================
# OS Files
# ==============================

.DS_Store
Thumbs.db

# ==============================
# Python Cache
# ==============================

.pytest_cache/
.mypy_cache/

# ==============================
# Logs
# ==============================

*.log